
body{

  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  margin-bottom: 30px;
  
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}


.featured-items {
  margin-top: 50px;
}

.featured__item {
  display: flex;
  position: relative;
  transform: scale(.90);
  transition: transform 250ms ease-in-out;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
}

.featured__item:hover, 
.featured__item:focus {
  transform: scale(1);
}

.featured__details {
  text-align: center;
}

.featured__img {
  margin: 0 auto;
  max-width: 300px;
  padding: 5px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  
}
#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}